terraform.tfvars
.terraform/

*.tfstate
*.tfstate.*

tf-key
tf-key.pub

crash.log
crash.log.*

*.pem
.vscode/

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
.env

.idea/
.vscode/
*.swp

*.log

memes_out/
source-code/memes_out/